#### Question 1)

In [33]:
def searchMatrix(matrix, target):
    if not matrix:
        return False

    rows = len(matrix)
    cols = len(matrix[0])
    left, right = 0, rows * cols - 1

    while left <= right:
        mid = (left + right) // 2
        num = matrix[mid // cols][mid % cols]

        if num == target:
            return True
        elif num < target:
            left = mid + 1
        else:
            right = mid - 1

    return False



matrix = [[1,3,5,7],[9,11,17,21],[23,31,34,77]]
target = 3
print(searchMatrix(matrix, target))

True

#### Question 2) Write a program that takes a string as input, and counts the frequency of each word in the string, there mightbe repeated characters in the string. Your task is to find the highest frequency and returns the length of the  highest-frequency word.

In [23]:
string = "IndiaIndiaisgreategreatecountry"
 
print ("The original string is : " + test_str)

all_freq = {}
for i in string:
 if i in all_freq:
  all_freq[i] += 1
 else:
  all_freq[i] = 1
res = max(all_freq, key = all_freq.get) 
  
print ("The maximum of all characters in IndiaIndiaisgreategreatecountry is : " + str(res))

The original string is : IndiaIndiaisgreategreatecountry
The maximum of all characters in IndiaIndiaisgreategreatecountry is : a

#### Machine learning

#### Question 2)

#### 1) Explain how you can implement ML in a real world application.

Lets take an example of real world application.Traffic prediction. Here’s how you could implement Machine 
Learning (ML) in this scenario:

1) Data collection: Data is collected by various method such as manual counting, inductive loops, video detection, GPS tracking traffic signal optimization etc

2) Data prepossesing: Clean the data to handle missing values, outliers, and noise. Normalize or standardize the data if required.

3)Feature engineering : Identify or create meaningful features that can help in predicting the target variable. 
    
4) Model selection: Choose an appropriate ML model based on the problem type. For traffic prediction we can use model like random forest, K-Nearest Neighbor (KNN), Principal component analysis and Support Vector Algorithms.

5) Traing : Train the model on the historical data.
    
6) Evaluation : Evaluate the model’s performance using appropriate metrics (like precision, recall, F1-score for classification problems).
    
7) Deployment : If the model’s performance is satisfactory, deploy the model in the production environment. 
    
8) Monitoring and updating: Continuously monitor the model’s performance and collect feedback data.

Machine learning algorithms can process the data and identify the most important factors that influence traffic patterns.

#### 2)

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn 
from sklearn.svm import SVR

In [10]:
df=pd.read_csv("C:/Users/dell/Downloads/Bengaluru_House_Data (1)a.csv")

In [11]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

### Exploratory data analysis

In [12]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [15]:
df=df.dropna()

In [16]:
df.isna().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [13]:
df.duplicated().sum()

529

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [17]:
df.describe()

              bath      balcony        price
count  7496.000000  7496.000000  7496.000000
mean      2.458378     1.629936    96.857122
std       0.881128     0.780127   105.382490
min       1.000000     0.000000     8.000000
25%       2.000000     1.000000    49.500000
50%       2.000000     2.000000    69.755000
75%       3.000000     2.000000   105.000000
max       9.000000     3.000000  2700.000000